﻿@model FStore.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="w3-card container w3-padding-16 w3-animate-zoom w3-round-large" style="width: 30%; margin-top: 50px">
        <h4 class="text-center">Đăng Kí</h4>
        <hr />
        <form class="w3-container w3-margin-bottom">

            @Html.LabelFor(m => m.Email, new { @class = "w3-margin-left w3-margin-top" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control w3-margin-left" })

            @Html.LabelFor(m => m.FullName, new { @class = "w3-margin-left w3-margin-top" })
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control w3-margin-left" })

            @Html.LabelFor(m => m.Phone, new { @class = "w3-margin-left w3-margin-top"})
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control w3-margin-left"})

            @Html.LabelFor(m => m.Password, new { @class = "w3-margin-left w3-margin-top" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control w3-margin-left" })

            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "w3-margin-left w3-margin-top" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control w3-margin-left" })

        </form>
        <div class=" w3-margin-top">
            <button class="w3-button w3-block">Đăng Kí</button>
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
