﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="w3-dropdown-hover w3-white" style="margin-top: 2px">
            <a href="/Manage/Index" data-toggle="dropdown">
                <img src="~/Content/resources/img/undraw_profile_pic_ic5t.svg" class="w3-circle" style="width: 25px; height: 25px;" />
            </a>
            <ul class="w3-dropdown-content w3-bar-block w3-animate-zoom w3-hover-shadow">
                <li class="w3-bar-item"><a href="/Manage/Index">Thông Tin Cá Nhân</a></li>
                <li class="w3-bar-item"><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
            </ul>
        </li>
        <li class="w3-margin-top">
            <button class="w3-button w3-white w3-border-white w3-circle">
                <i class="glyphicon glyphicon-shopping-cart w3-circle"></i>
            </button>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
