﻿@model FStore.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid w3-margin-top w3-mobile w3-margin-bottom" >
    <img src="~/Content/image/20.jpg" class="slide-img w3-mobile"/>
    <img src="~/Content/resources/img/banner/dkp_DS_Herbertson2M-26.jpg" class="slide-img w3-animate-right"/>
    <img src="~/Content/resources/img/banner/dumbbell-flor-fitness-gym-legs-background-image-focus-dumbbells-dark-flor-fitness-gym-women-171858208.jpg" class="slide-img w3-animate-right" />
    <img src="~/Content/resources/img/banner/e70a952a59b87d92d0334021449bc889_Symphony-smart-ceiling-fan-modern-home-gym-2000-c-90.jpg" class="slide-img w3-animate-right" />
    <img src="~/Content/resources/img/banner/HDA-Bridge-Single-Room-s8.png" class="slide-img w3-animate-right" />
    <img src="~/Content/resources/img/banner/IE_Senterra_Plan-3_gym-1.jpg" class="slide-img w3-animate-right" />
</div>
<div class="container" style="margin-left: 100px">
    @foreach(var item in Model.Products)
    {
        <div class="w3-card w3-hover-shadow w3-animate-zoom w3-margin-top w3-center w3-col l5 m7 w3-margin-left w3-mobile w3-round-large" style="width: 20%; height: 20%">
            <div class="w3-container" style="white-space: nowrap; overflow:hidden">
                <img src="@item.Image" class="w3-round product-img w3-margin-top" />
                <h4 class="w3-center" style=" margin-top: 3px;">@item.Name</h4>
                <p>@item.Price</p>
            </div>
            <button class="w3-button w3-hover-blue-grey w3-block" onclick="location.href ='@Url.Action("Details","Products", new { id = item.Id})'">Chi Tiết</button>
        </div>
    }
</div>

<script>
    var slideIndex = 0;
    slide();

    function slide() {
        var x = document.getElementsByClassName('slide-img');
        for (var i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(slide, 3000);
    }
</script>
