﻿@model FStore.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Products"))
{
    @Html.AntiForgeryToken()
    <div class="w3-card container w3-padding-small w3-margin-top" style="width: 30%">
        <h4 class="text-center">Thêm Sản Phẩm</h4>
        <form class="w3-container w3-margin-bottom row">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control w3-margin-bottom" })


            @Html.LabelFor(m => m.Desc)
            @Html.TextBoxFor(m => m.Desc, new { @class = "form-control w3-margin-bottom" })

            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control w3-margin-bottom" })

            @Html.LabelFor(m => m.Image)
            @Html.TextBoxFor(m => m.Image, new { @class = "form-control w3-margin-bottom"})

            @Html.LabelFor(m => m.Category)
            @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "Chọn Thể Loại Sản Phẩm", new { @class = " form-control w3-margin-bottom" })

            @Html.LabelFor(m => m.Supplier)
            @Html.DropDownListFor(m => m.Supplier, new SelectList(Model.Suppliers, "Id", "Name"), "Chọn Nhà Cung Cấp", new { @class = "form-control w3-margin-bottom" })

        </form>
        <div class="w3-section w3-center w3-margin-top">
            <button class="w3-button" type="submit">Save</button>
            <button class="w3-button">
                <a href="/Products/Index" style="text-decoration: none; color: black">Back to List</a>
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
