﻿@model FStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="w3-row-padding w3-mobile">
    <h2> Chi Tiết Sản Phẩm</h2>
    <div class="w3-third w3-border w3-border-black w3-round-large">
        <img src="@Model.Image" style="width: 100%" />
    </div>
    <div class="w3-third">
        <div class="w3-margin-left">
            <h1>@Model.Name</h1>
            <h3><label><i class="fa fa-money"></i> @Model.Price VND</label></h3>
            <p><label><i class="fa fa-sort-alpha-desc"></i> @Model.Desc</label></p>
            <div class="w3-section">
                <button class="w3-button w3-border w3-hover-border-black w3-hover-white" style="margin-left: 3px">Mua Hàng</button>
                <button class="w3-button w3-border w3-hover-border-blue w3-hover-blue">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
</div>

