﻿@model IEnumerable<FStore.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="text-align:center;font-family: Tahoma,Geneva,Sans-serif;text-shadow: 1px 1px 0 #444">Index</h2>
@foreach(var item in Model)
{
<div class="container w3-mobile">
    <div class="w3-third">
        <img src="@item.Image"  style="width: 200px"/>
    </div>
    <div class="w3-third">
        <h4>@item.Name</h4>
        <p style="overflow-y:hidden;height: 200px">@item.Desc</p>
    </div>
    <div class="col-md-2 w3-mobile w3-center w3-cell" style="outline: none">
        <button class="w3-button w3-border w3-border-deep-purple w3-round-large w3-margin-bottom" style="width: 100px" onclick="location.href ='@Url.Action("Edit", "Products", new { id = item.Id})'">Sửa</button>
        <button class="w3-button w3-border w3-border-deep-purple w3-round-large w3-margin-bottom" style="width: 100px"onclick="location.href ='@Url.Action("Details", "Products", new { id= item.Id})'">Chi Tiết</button>
        <button class="w3-button w3-border w3-border-deep-purple w3-round-large" style="width: 100px" onclick="location.href ='@Url.Action("Delete", "Products", new { id = item.Id})'">Xoá</button>
    </div>
</div>
<hr />
}
