﻿body {
    margin: 0px;
    padding: 0px;
    background: lightgray;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

.register-box {
    position: relative;
    top: 50px;
    margin: 4% auto;
    height: 500px;
    background: #fff;
    box-shadow: 5px 10px 8px 10px gray;
    width: 800px;
    color: black;
    border-radius: 25px;
    margin-bottom: 106px;
}

.A {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    height: 400px;
    width: 300px;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    height: 32px;
    width: 220px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    transition: 0.2 ease;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="email"]:focus {
        transition: 0.325s;
        font-weight: bolder;
        color: gray;
        border: 3px solid gray;
    }

input[type="submit"] {
    margin-bottom: 28px;
    width: 100px;
    height: 35px;
    background: #0097e6;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
}

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        transition: 0.1s;
        width: 200px;
        opacity: 0.4;
        font-weight: bold;
        font-size: 13px;
    }

    input[type="submit"]:active {
        background: #0097e6;
    }

.B {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 540px;
    height: 400px;
    transform: translate(-0%,10%);
    background-image: url(1.png);
    background-size: cover;
    background-position: center;
}

.image {
    display: inline-flex;
    float: right;
    width: 500px;
    margin-top: 96px;
}
