﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.slide-img{
    width: 750px;
    height: 500px;
    margin-left: 200px;
}
.product-img {
    width: 100%;
    height: 200px;
}
.product-container{
    border-bottom: solid 1px black;
}
.btn-cart-container{
    border: none;
    margin-top: 16px;
}

/*body {
    margin: 5px 0 0 0;
    font-size: 13px;
    font-family: Tahoma,Geneva,Sans-serif;
}

#Conteiner {
    margin: 0px auto;
    width: 950px;
}

#Header {
    color: black;
}

.icongym {
    float: left;
    margin-left: 7.5rem;
    position: relative;
    top: -8rem;
    width: 230px;
    height: 180px;
    z-index: -1;
}

.search {
    margin: 25px;
}

#iconsearch a {
    position: relative;
    top: -70px;
    left: 34.8rem;
    color: dodgerblue;
}

    #iconsearch a:hover {
        opacity: 0.6;
    }

input[type="text"] {
    width: 350px;
    height: 25px;
    outline: none;
    border-radius: 10px;
    margin-left: 1.7rem;
    position: absolute;
    top: 2.9rem;
    color: gray;
}

    input[type="text"]:focus {
        opacity: 0.6;
        border: 2px solid gray;
        font-size: 13px;
        color: black;
    }

.line {
    transform: translate(-0.7%,-13000%);
    width: 129rem;
    border:0.5px solid gray;
    height: 0px;
}

.line1{
    margin-right: 100rem;
    width: 0;
    height:50px;
    position: relative;
    top: -1rem;
    border:0.5px solid gray;
}
.HRLoginRegister{
    width:0px;
    height:45px;
    border:0.5px solid gray;
    transform:translate(38.3rem,-5.5rem);
}
.login {
    margin-left: 108.3rem;
    margin-top: -8.75rem;
}

    .login a {
        text-decoration: none;
        color: gray;
        font-size: 15px;
    }

.register {
    margin-left: 118rem;
    margin-top: -10.8rem;
}

    .register a {
        text-decoration: none;
        color: gray;
        font-size: 15px;
    }



.login a:hover {
    color: dodgerblue;
    font-weight: bolder;
}

.register a:hover {
    color: dodgerblue;
    font-weight: bolder;
}

.cart {
    margin-top: -22px;
    margin-left: 87rem;
    font-size: 16px;
}

.cart a {
      text-decoration: none;
      color: black;
}

.cart a:hover {
       color: black;
       font-weight: bolder;
       opacity: 0.4;
}
#menutop {
    position: relative;
    top: -9.1rem;
    left: 2rem;
    transform: translate(0rem,0.48rem);
}
/**
.iconhome{
	color:black;

}
.iconhome:hover{
	opacity: 0.4;
	color: #c0392b;
}
.iconhome:focus{
	transition: 0.3s;

}
**/
/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden; 
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    transform: translateY(-1em);
    outline: none;
    z-index: -1;
    background: #ecf0f1;
    color: #4F4F4F;
    border-top: 2px solid black;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;
}
.HRdropdown {
    width: 129.5rem;
    height: 0px;
    transform: translate(-2.7%,-7rem);
    border:0.5px solid gray;
}
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(8%);
    transition-delay: 0s, 0s, 0.3s;
}

nav {
    font: 18px/1.4 sans-serif;
    transform: translate(-5px,-57px);
}

nav a {
      color: gray;
      display: block;
      padding: 0.2em 30px;
      text-decoration: none;
      font-weight: bolder;
      margin-left: 35px;
      margin-right:20px;
}

nav a:hover {
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      color: dodgerblue;
      opacity: 0.6;
}

nav ul,
nav ul li {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

nav > ul {
     text-align: left;
}

nav > ul > li {
     display: inline-block;
     border-left: solid 1px #aaa;
}

nav > ul > li:first-child {
     border-left: none;
}
.slidershow {
     display: flex;
     width: 1100px;
     height: 550px;
     overflow: hidden;
     z-index: -1;
}

.middle {
    position: absolute;
    top:11.2%;
    transform: translate(6.35%,-3.8%);
}

.navigation {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 7px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    z-index:-2;
}
.bar:hover {
    background-color:#fff;
    }

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 100% auto;
    transition: 0.6s;
}

.slide img {
     height: 100%;
     width: 1200px;
}

#r20:checked ~ .s20 {
    margin-left: 0;
}

#r21:checked ~ .s20 {
    margin-left: -23%;
}

#r22:checked ~ .s20 {
    margin-left: -44%;
}

#r12:checked ~ .s20 {
    margin-left: -67%;
}

#r13:checked ~ .s20 {
    margin-left: -88%;
}
.clear{
    clear:both;
}

#ProductContent h2 {
    position: relative;
    top: 37.8rem;
    text-align: center;
    background: dodgerblue;
    font-family: 'Playfair Display', serif;
    color:#fff;
    font-size:25px;
}
.Content {
    display: flex;
    
    
}
.Content1{
    display:flex;
}

.card h1{
    font-size:18px;
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight:bolder
}
.card {
    position: relative;
    top: 38rem;
    left:7.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    width: 270px;
    height: 320px;
    margin: 7px;
    text-align: center;
    font-family: Sans-serif;
}
.price {
    color: #ee5253;
    font-size: 22px;
}

.details {
    width: 90px;
    float: left;
    height: 38px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
    background-color: gray;
    color: white;
    font-size: 15px;
}

.addtocart {
    width: 150px;
    float: left;
    height: 38px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
    background-color: #3498db;
    color: #FFF;
    font-size: 15px;
}

    .details:hover, .addtocart:hover {
        font-weight: bolder;
        color:#fff;
        font-size: 16px;
    }

.details, .addtocart {
    transform: translate(0.6rem,0%);
    margin-left: 5px;
}

#ProductContent a {
    text-decoration: none;
}

    #ProductContent a:hover {
        opacity: 0.7;
    }

#footer a {
    text-decoration: none;
    color: White;
}

#footer {
    background-color: #636e72;
    border-top: 2px solid black;
    text-align: center;
    height: 100px;
    padding: 7px 10px;
    
    transform: translate(1px,40rem);
    color: white;
}*/